Structures/Model filter=lfs diff=lfs merge=lfs -text
98/best_model_vgg30.keras filter=lfs diff=lfs merge=lfs -text
98/vgg30_model.keras filter=lfs diff=lfs merge=lfs -text
Structures/Model[[:space:]]98/best_model_vgg30.keras filter=lfs diff=lfs merge=lfs -text
Structures/Model[[:space:]]98/vgg30_model.keras filter=lfs diff=lfs merge=lfs -text
